In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Letlhakane,BW,2022-11-09 18:53:33,-21.4167,25.5833,81.36,29,0,8.08
1,1,Mataura,NZ,2022-11-09 18:49:25,-46.1927,168.8643,44.47,78,5,2.08
2,2,Ushuaia,AR,2022-11-09 18:48:42,-54.8000,-68.3000,51.42,66,40,31.07
3,3,Santa Rita Do Passa Quatro,BR,2022-11-09 18:52:20,-21.7103,-47.4781,82.40,48,76,8.88
4,4,Barrow,US,2022-11-09 18:50:45,71.2906,-156.7887,28.42,86,0,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Letlhakane,BW,2022-11-09 18:53:33,-21.4167,25.5833,81.36,29,0,8.08
3,3,Santa Rita Do Passa Quatro,BR,2022-11-09 18:52:20,-21.7103,-47.4781,82.40,48,76,8.88
6,6,Avarua,CK,2022-11-09 18:49:21,-21.2078,-159.7750,77.05,73,12,12.66
12,12,Arraial Do Cabo,BR,2022-11-09 18:51:56,-22.9661,-42.0278,76.96,78,40,11.50
18,18,Tabou,CI,2022-11-09 18:53:36,4.4230,-7.3528,78.26,83,20,6.58
20,20,Georgetown,MY,2022-11-09 18:46:03,5.4112,100.3354,81.90,90,20,2.30
22,22,Mar Del Plata,AR,2022-11-09 18:52:27,-38.0023,-57.5575,80.83,73,0,20.00
23,23,Bathsheba,BB,2022-11-09 18:53:37,13.2167,-59.5167,84.81,79,20,11.50
27,27,Isla Mujeres,MX,2022-11-09 18:53:38,21.2311,-86.7310,86.16,61,1,9.75
28,28,Kapaa,US,2022-11-09 18:51:48,22.0752,-159.3190,79.12,78,20,17.27

In [12]:
preferred_cities_df.count()

City_ID       173
City          173
Country       171
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [13]:
# Filter the dataset to find the cities that fit the criteria.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                          City Country  Max Temp      Lat       Lng Hotel Name
0                   Letlhakane      BW     81.36 -21.4167   25.5833
3   Santa Rita Do Passa Quatro      BR     82.40 -21.7103  -47.4781
6                       Avarua      CK     77.05 -21.2078 -159.7750
12             Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
18                       Tabou      CI     78.26   4.4230   -7.3528
20                  Georgetown      MY     81.90   5.4112  100.3354
22               Mar Del Plata      AR     80.83 -38.0023  -57.5575
23                   Bathsheba      BB     84.81  13.2167  -59.5167
27                Isla Mujeres      MX     86.16  21.2311  -86.7310
28                       Kapaa      US     79.12  22.0752 -159.3190

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Letlhakane,BW,81.36,-21.4167,25.5833,Motswedi Hotel
3,Santa Rita Do Passa Quatro,BR,82.40,-21.7103,-47.4781,Pousada da Colina
6,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
12,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
18,Tabou,CI,78.26,4.4230,-7.3528,hotêl doufoulougou
...,...,...,...,...,...,...
541,Norman,US,79.90,35.2226,-97.4395,"Country Inn & Suites by Radisson, Norman, OK"
549,Venice,US,77.99,27.0998,-82.4543,A Beach Retreat On Casey Key
550,Antsohihy,MG,79.23,-14.8796,47.9875,Hotel de Ville
552,Bousso,TD,88.25,10.4795,16.7117,
554,Dzaoudzi,YT,78.69,-12.7887,45.2699,Le Rocher

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]